<div class="row">
    <!-- Statistics card start -->
    <div class="col-md-12 col-xl-4" *ngFor="let parentCard of parentCards" ng-if="parentCard">
      <div class="card widget-statstic-card">
        <div class="card-header">
          <div class="card-header-left">
            <h5>{{parentCard.name}}</h5> 
            <p class="p-t-10 m-b-0 text-c-blue">Total Forms : {{parentCard.formCollection.length}}</p>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont icofont-page st-icon bg-c-blue"></i>
          <div class="text-left">
            <!-- <h3 class="d-inline-block">5,456</h3> -->
            <!-- <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i> -->
            <!-- <span class="f-right">23%</span> -->
          </div>
        </div>
      </div>
    </div>
</div>
    
  