
<div class="row">
    <!-- card1 start -->
    <div class="col-md-6 col-xl-3">
      <div class="card widget-card-1">
        <div class="card-block-small">
          <i class="icofont icofont-users-alt-5 bg-c-blue card1-icon"></i>
          <span class="text-c-blue f-w-400" id="firstCardTitle">Total Saathi</span>
          <h4>{{totalSaathi}}</h4>
        </div>
      </div>
    </div>
    <!-- card1 end -->
    <!-- card2 start -->
    <div class="col-md-6 col-xl-3">
      <div class="card widget-card-1">
        <div class="card-block-small">
          <i class="icofont icofont-tasks  bg-c-pink card1-icon"></i>
          <span class="text-c-pink f-w-400" id="secondCardTitle">Saathi Complete Profile</span>
          <h4>{{completedProfile}}</h4>
        </div>
      </div>
    </div>
    <!-- card2 end -->
    <!-- card3 start -->
    <div class="col-md-6 col-xl-3">
      <div class="card widget-card-1">
        <div class="card-block-small">
          <i class="icofont  icofont-ui-v-card bg-c-green card1-icon"></i>
          <span class="text-c-green f-w-400" id="thirdCardTitle">Saathi With Aadhar</span>
          <h4>{{aadhaarSaathi}}</h4>
        </div>
      </div>
    </div>
    <!-- card3 end -->
    <!-- card4 start -->
    <div class="col-md-6 col-xl-3">
      <div class="card widget-card-1">
        <div class="card-block-small">
          <i class="icofont icofont-credit-card bg-c-yellow card1-icon"></i>
          <span class="text-c-yellow f-w-400" id="fourthCardTitle">Saathi with ATM Card</span>
          <h4>{{atmSaathi}}</h4>
        </div>
      </div>
    </div>
    <!-- card4 end -->
</div>
<!-- Graph Start -->
<div class="row">
    <div class="col-sm-6">
      <app-card [title]="'Saathi Age Distribution'" [classHeader]="true">
        <div #saathiAgeDistributionGraph></div>
      </app-card>
    </div>
    <div class="col-sm-6">
      <app-card [title]="'Saathi Education Distribution'" [classHeader]="true">
        <div #saathiEducationDistributionGraph></div>
      </app-card>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Saathi Occupation Chart'" [classHeader]="true">
        <div #saathiOccupationGraph></div>
      </app-card>
    </div>
</div>
<!-- Graph Ends -->
    
    