<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- <h2 class="active"> INTERNET SATHI </h2> -->
      <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/images/saathi.png" id="icon" alt="User Icon" />
      </div>
      <!-- Login Form -->
      <form #loginForm="ngForm" role="form" id="login-form" autocomplete="off" (ngSubmit)="login(loginForm)">
        <input type="email"  name="email"  id="login" class="fadeIn second" placeholder="somebody@example.com" required ngModel>
        <input type="password" name="password" id="password" class="fadeIn third" placeholder="Password" required ngModel>
        <select class="hideLabel fadeIn third" [(ngModel)]="object" name="userType" (change)="changedOption($event)" placeholder="Select UserType">
          <option [ngValue]="object.value" *ngFor="let object of userList" >  
              {{object.label}}  
          </option>  
        </select>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
   -->
    </div>
  </div>